body {
  margin: 0;
  padding: 0;
  background-color: #121213;
  color: #EFEFEF;
}

@font-face {
  font-family: "karnak";
  src: url("KarnakPro-CondensedBlack.ttf");
}

@font-face {
  font-family: "nyt-franklin";
  src: url("LibreFranklin-Bold.ttf");
}

header {
  font-family: "karnak";
  border-bottom: 1px solid #434343;
}

.header-container {
  margin: 10px;
  font-size: 36px;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
}

.guesses-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 5px;
}

.row1, .row2, .row3, .row4, .row5, .row6 {
  margin: 1px;
  display: flex;
  justify-content: center;
}

.cell {
  margin: 2.5px;
  border: 2px solid #434343;
  width: 48px;
  height: 48px;
}

.keyboard-container {
  margin-top: 5px;
  display: flex;
  justify-content: center;
}

.keyboard-display {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.keyboard-row1, .keyboard-row2, .keyboard-row3 {
  width: 700px;
  display: flex;
  justify-content: center;
}

.key {
  width: 44px;
  height: 60px;
  background-color: #818384;
  margin: 3px;
  text-align: center;
  font-family: "nyt-franklin";
  font-weight: bolder;
  font-size: 20px;
  border-radius: 5px;
  text-decoration: none;
  text-shadow: none;
  line-height: 60px;
}

.enter, .delete {
  background-color: #818384;
  margin: 3px;
  text-align: center;
  font-family: "nyt-franklin";
  font-size: 12px;
  font-weight: bolder;
  border-radius: 5px;
  width: 70px;
  height: 60px;
  line-height: 60px;
}

.material-icons {
  position: relative;
  top: 8px;
}